
/* 比价 */
.mmm_bijia{
  background-color: #fff; 
  .desc{
    height: 5.6rem;
    text-align: center;
    padding: 0.35rem 0.45rem; 
    position: relative;
    h3{
      font-size: 0.36rem;
    }
    img{
      width: 3.4rem;
      margin: 0 auto;
    }
    button{
      position: absolute;
      right: .5rem;
      bottom: .4rem;
      background-color: #96D900;
      color: #fff;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      font-size: .32rem;
    }
  }
  .bijia_title{
    div{
      width: 33.33%;
      float: left;
      text-align: center;
      background-color: #FFC82F;
      border: 0.02rem solid #BD3E04;
      a{
        height: 0.65rem;
        line-height: .65rem;
        color: #fff;
        font-size: .28rem;
      }
      
    }
    div.current{
      background-color: #FF9915;
    }
    div{
      border-left: none;
    }
    div:last-child{
      border-right: none;
    }
  }
  .go_shop{
    
    .top{
      padding-left: .2rem;
      padding-right: .1rem;
      height: .9rem;
      line-height: .9rem;
      font-size: .32rem;
      .p_pic{
        width: 0.32rem;
        height: 0.32rem;
        img{
          margin-top: .29rem;
          width: 100%;
        }
      }
      .red{
        font-size: .26rem;
        color: red;
      }
    }
    .bottom{
      padding: .2rem .1rem 0 .2rem;
      color: #999;
      font-size: .24rem;
      height: 1.2rem;
      border-top: 0.01rem solid #ccc;
      border-bottom: 0.08rem solid #767676;
    }
  }
  
}

/* 网友评价 */
.net_comment{
  padding-top: 3px;
  background-color: #fff;
  .title{
    background-color: #DBDBDB;
    text-align: center;
    height: 0.65rem;
    line-height: .65rem;
    font-size: .26rem;
    color: #000;
    font-weight: bold;
  }
  .comment_area{
    li{
    font-size: 0.24rem;
    border-bottom: 0.01rem solid #ccc;
    padding: 0.1rem 0.2rem; 
    .name{
      padding: 0.2rem 0;
      height: 1rem;
      position: relative;
      .buy_from{
        position: absolute;
        right: 0;
        bottom: .2rem;
      }
    }
    .info{
      line-height: .44rem;
      color: #000;
    }
  }
  }
  .more{
    padding: .3rem .15rem .5rem .15rem;
    a{
      width: 100%;
      height: 0.6rem;
      line-height: .6rem;
      text-align: center;
      font-size: .28rem;
      color: #000;
      border-bottom: 0.01rem solid #ccc;
      border-radius: .1rem;
      background-image: linear-gradient( #F1F1F1, #D6D6D6);
      box-shadow: 0 0.01rem 0.02rem #666;
    }
  }
  
}
