/* rem */
html{
  font-size: 100px;
}

/*css基础样式*/
/*css样式重置*/
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
i,em {
  margin: 0;
  padding: 0;
  /*所有盒子采用内减模式*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*在移动去除默认点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 0.22rem;
  // color: #333;
  background-color: #F5F5F5;
  font-family: "Microsoft Yahei", Arial, sans-serif;
  /*后面都是备胎*/
}
ul,
ol,li {
  list-style: none;
}
a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
/* a,img 标签转块级 */
a,img{
  display: block;
}
input {
  border: none;
  outline: none;
}
/*废物利用*/
em,
i {
  font-style: normal;
}

textarea,button{
  resize: none;
  outline: none;
  border: none;
}
button{
  cursor: pointer;
}



/*公共样式*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* 只显示一行文本 多余的显示... */
.mui-ellipsis{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 只显示两行文本 多余的显示... */
.mui-ellipsis-2{
    display: -webkit-box;
    overflow: hidden;

    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.mui-ellipsis-3{
  display: -webkit-box;
  overflow: hidden;

  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


/* 容器 */
.container{
  background-color: #fff;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;  
}

/* 顶部共用 */
.mmm_header_common{

    // width: 100%;
    height: 1rem;
    line-height: 1rem;
    background-color: #FF841D;
    
    // logo图片
    .logo{
      float: left;
      img{
        width: 3.71rem;
        height: 0.5rem;
      }
      padding: 0.25rem 0.32rem;
    }

    // 左侧图标
    .icon_left{
      // img{
      //   width: 3.71rem;
      //   height: 0.5rem;
      // }
      float: left;
      padding: .3rem .3rem;
      i{
        display: block;
        background: url(../images/icback.svg) no-repeat;
        background-size: 0.4rem 0.4rem;
        width: 0.4rem;
        height: 0.4rem;
      }
    }
    // 右侧app图标
    .icon_right{
      float: right;
      padding: 0.16rem;
      img{
        width: 0.68rem;
        height: 0.68rem;
      }
    }
    h3{
      padding: 0 1rem;
      font-size: .4rem;
      text-align: center;
      overflow: hidden;
      color: #fff;
    }
  
}

/* 搜索框公用 */
/* 搜索 */
.mmm_search_common{
  height: 1rem;
  background-color: #fff;
  .btn{
    margin: 0.2rem 0.25rem;
    input{
      width: 1.3rem;
      height: 0.6rem;
      font-size: 0.32rem;
      color: #fff;
      background-color: #FF841D;
      border-radius: 0.3rem;
    } 
  }
  .input{
    height: 100%;
    overflow: hidden;
    padding: 0.2rem 0.25rem;
    input{
      height: 0.6rem;
      width: 100%;
      font-size: 0.24rem;
      background-color: #F1F1F1;
      border-radius: 0.3rem;
      padding: 0 0.4rem;
    }
  }

}

/* 产品列表 */
.mmm_product_list_common{
  li{
    height: 2.58rem;
    background-color: #fff;
    border-bottom: 0.01rem solid #ccc;
    padding: 0.2rem;
  
    a{
      width: 100%;
      height: 100%;
      position: relative;
      padding-left: 2.2rem;
      .img{
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        img{
          width: 100%;
          height: auto;
        }
      }
      .desc{
        height: 100%;
        overflow: hidden;
        position: relative;
        .top{
          font-size: 0.28rem;
          .price{
            color: #FF6C00;
          }
        }
        .bottom{
          color: #A1A1A1;
          width: 100%;
          position: absolute;
          bottom: 0.35rem;
          left: 0rem;
          .price{
            font-size: .32rem;
            color: #E72B00;
            padding-bottom: .1rem;
          }
          span{
            padding-right: .18rem;
          }
        }
      }
    }
  } 
}

/* 三级导航标题栏复用 */
.mmm_three_common{ 
    position: relative;
    height: 0.75rem;
    line-height: 0.75rem;
    padding: 0 0.15rem;
    border-top: 0.02rem solid #ccc;
    border-bottom: 0.02rem solid #ccc;
    background-image: linear-gradient(#fff, #ECECEC);
    .three{     
      a{
        font-size: .24rem;
        display: inline;
      }
     
    } 
    button{
      font-size: .24rem;
      width: 1.2rem;
      height: 0.55rem;
      position: absolute;
      top: 0.1rem;
      right: 0.15rem;
      border-radius: .1rem;
      background-image: linear-gradient(#D8D8D8, #fff);
      border: none;
      box-shadow: 0 0.02rem 0.04rem #888;
      border-bottom: 0.02rem solid #bababa;
    }
  
}

/* 分页复用 */
.mmm_pagination_common{
  >div{
    width: 33.33%;
    text-align: center;
    padding: .4rem 0;
    
  }
  button,select{
    height: 0.7rem;
    font-size: .26rem;
  }
  button{
    width: 1.6rem;
    border-radius: .1rem;
    box-shadow: 0 0.02rem 0.04rem #999;
    border-bottom: 0.01rem solid #ADADAD;
    background-image: linear-gradient(#F0F0F0, #d7d7d7);
  }
  select{
    // text-align: center;
    text-align-last: center;
    width: 1.45rem;
    /*将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    option{
      height: 0.6rem;
    }
  }
  .select_page{
    position: relative;
    a{
      
      width: 1.45rem;
      height: 0.7rem;
      line-height: 0.7rem;
      font-size: .26rem;
    }
    a:last-child{
      border: none;
    }
    .now_page{
      border: 0.02rem solid #ccc;
      margin: 0 auto;
    }
    .select{
      display: none;
      background-color: #fff;
      width: 1.45rem;
      position: absolute;
      bottom: .7rem;
      left: 50%;
      transform: translate(-50%);
      border: 0.02rem solid #ccc;
      border-bottom: none;
      a{
        cursor:pointer
      }
    }
  }
}

/* 底部共用 */
.mmm_footer_common{
  text-align: center;
  background-color: #EFEFEF;
  .top{

    a{
      float: left;
      width: 33.33%;
      height: 0.65rem;
      line-height: 0.65rem;
      border-top: 0.01rem solid #ccc;
      border-right: 0.01rem solid #ccc;
      border-bottom: 0.01rem solid #ccc;
    }
    a:last-child{
      border-right: none;
    }
  }
  .bottom{
    padding: 0.3rem 0;
    color: #666;
    a{
      display: inline;
    }
    .app{
      color: red;
    }
    .compare{
      color: #666;
    }
  }
}