.mmm_bcj_head {
  background-color: #F4483E;
}
.mmm_nav {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: .26rem;
  overflow: hidden;
}
.mmm_nav ul {
  display: inline-block;
  white-space: nowrap;
}
.mmm_nav li {
  display: inline-block;
}
.mmm_nav li a {
  height: 0.8rem;
  margin: 0 .23rem;
}
.mmm_nav li a.current {
  border-bottom: 3px solid #E22F32;
}
.mmm-product ul {
  background-color: #F8F8F8;
  overflow: hidden;
  padding-bottom: .6rem;
}
.mmm-product li {
  margin-top: .1rem;
  background-color: #fff;
  position: relative;
  height: 3rem;
  padding: .2rem .1rem .2rem 2.8rem;
}
.mmm-product img {
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  left: .1rem;
  top: 0.2rem;
}
.mmm-product .desc {
  position: relative;
  height: 100%;
}
.mmm-product .desc .title {
  font-size: .28rem;
}
.mmm-product .desc .price {
  font-size: .48rem;
  color: #fc353a;
  padding: .2rem 0;
}
.mmm-product .desc .price del,
.mmm-product .desc .price em {
  font-size: .24rem;
}
.mmm-product .desc .price del {
  color: #999;
}
.mmm-product .desc .num {
  position: absolute;
  left: 0;
  bottom: .95rem;
  padding: .15rem 0;
  height: 0.3rem;
  line-height: 0.3rem;
}
.mmm-product .desc .num i {
  float: left;
  width: 1.6rem;
  height: 0.3rem;
  line-height: 0.3rem;
  background-color: #FFB7B7;
  border: 0.02rem solid #FC262B;
  border-radius: .15rem;
  overflow: hidden;
  position: relative;
}
.mmm-product .desc .num i em {
  display: block;
  height: 0.3rem;
  background-color: #FC353A;
  border-radius: .15rem;
  border: 0.02rem solid #FC262B;
  position: absolute;
  top: -0.02rem;
  left: 0rem;
}
.mmm-product .desc .num i span {
  color: #fff;
  font-size: .26rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.mmm-product .desc .num b {
  font-size: .28rem;
  margin-left: .3rem;
  color: #FC403F;
}
.mmm-product .desc .link {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mmm-product .desc .link .coupon a {
  text-align: center;
  height: 0.5rem;
  line-height: 0.5rem;
  border: 0.01rem dashed #FC262B;
  width: 2.2rem;
  font-size: .24rem;
}
.mmm-product .desc .link .shop a {
  text-align: center;
  width: 1.2rem;
  height: 0.55rem;
  line-height: 0.55rem;
  font-size: .26rem;
  color: #fff;
  border-radius: .1rem;
  background-color: #FF5E5D;
}
