.mmm_header_common {
  background-color: #F4483E;
}
.mmm_coupon {
  padding: .2rem .05rem .6rem .05rem;
}
.mmm_coupon li {
  width: 33.33%;
  padding: .05rem;
  float: left;
}
.mmm_coupon li a {
  width: 2.36rem;
  height: 1.5rem;
  border: 1px solid #ccc;
  text-align: center;
  padding-top: .11rem;
}
.mmm_coupon li a img {
  margin: 0 auto;
  width: 1rem;
}
.mmm_coupon li a p {
  font-size: .24rem;
  color: #000;
}
